<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Glint</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
    <header class="s-header">

            <div class="header-logo">
                <a class="site-logo" href="/">
                    <img src="images/logo.png" alt="Homepage">
                </a>
            </div>

            <nav class="header-nav">

                <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>

                <div class="header-nav__content">
                    <h3>Navigation</h3>
                    
                    <ul class="header-nav__list">
                        <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                        <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                        <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                        <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                        <li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                        <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                    </ul>
        
                    
                    <ul class="header-nav__social">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>

                </div> <!-- end header-nav__content -->

            </nav>  <!-- end header-nav -->

            <a class="header-menu-toggle" href="#0">
                <span class="header-menu-text">Menu</span>
                <span class="header-menu-icon"></span>
            </a>

        </header>
        <section id='about' class="s-about">

                <div class="row section-header has-bottom-sep" data-aos="fade-up">
                    <div class="col-full">
                        <h3 class="subhead subhead--dark">Hello There</h3>
                        <h1 class="display-1 display-1--light">We Are dsl</h1>
                    </div>
                </div> <!-- end section-header -->
        
                <div class="row about-desc" data-aos="fade-up">
                    <div class="col-full">
                        <p>
                        Sorry, the page you are looking for is not found :( </p>
                    </div>
                </div> <!-- end about-desc -->
        
                <!-- end about-stats -->
        
                <div class="about__line"></div>
        
            </section>
            <script src="js/jquery-3.2.1.min.js"></script>
            <script src="js/plugins.js"></script>
            <script src="js/main.js"></script> 
</body>
</html>