<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Computer jii</title>
     <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- header
    ================================================== -->
    <header class="s-header">

            <div class="header-logo">
                <a class="site-logo" href="/">
                    <img src="images/logo.png" alt="Homepage">
                </a>
            </div>
    
            <nav class="header-nav">
    
                <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
    
                <div class="header-nav__content">
                    <h3>Navigation</h3>
                    
                    <ul class="header-nav__list">
                        <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                        <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                        <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                        <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                        <li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                        <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                    </ul>
        
                    
                    <ul class="header-nav__social">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
    
                </div> <!-- end header-nav__content -->
    
            </nav>  <!-- end header-nav -->
    
            <a class="header-menu-toggle" href="#0">
                <span class="header-menu-text">Menu</span>
                <span class="header-menu-icon"></span>
            </a>
    
        </header>

        <h1>Welcome to your dashboard, {{user_name}}</h1>
        <h3>Train models</h3>

        <h2>My Models</h2>
        
        <div>
            <table claass="striped">
                <tbody>
                    <thead>
                        <tr>
                            <td>name</td>
                            <td>type</td>
                        </tr>
                    </thead>
            {%for model in models%}
                <tr>
                <td><h3>{{model['model_name']}}</h3></td>
                <td><h4>{{model['model_type']}}</h4></td>
                </tr>
            {%endfor%}
            </table>
        </div>


        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
</body>
</html>