<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>computer jii</title>
    
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>
</head>
<body id='top'>
        <header class="s-header">

                <div class="header-logo">
                    <a class="site-logo" href="/">
                        <img src="images/logo.png" alt="Homepage">
                    </a>
                </div>
        
                <nav class="header-nav">
        
                    <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
        
                    <div class="header-nav__content">
                        <h3>Navigation</h3>
                        
                        <ul class="header-nav__list">
                            <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                            <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                            <li><a class="smoothscroll"  href="#services" title="services">Services</a></li>
                            <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                            <li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                            <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                        </ul>
            
                        
                        <ul class="header-nav__social">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
        
                    </div> <!-- end header-nav__content -->
        
                </nav>  <!-- end header-nav -->
        
                <a class="header-menu-toggle" href="#0">
                    <span class="header-menu-text">Menu</span>
                    <span class="header-menu-icon"></span>
                </a>
        
            </header>
    <div class="row contact-content" data-aos="fade-up"></div>
        <div class="contact-primary">

            <h1>Register</h1>
            {%if error%}
            <h3>user name does not exists, please register first!</h3>
            {%endif%}
            <form name="contactForm" id="contactForm" method="post" action="/createuser" novalidate="novalidate">
                <fieldset>

                <div class="form-field">
                    <input name="user_name" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" aria-required="true" class="full-width" required>
                </div>
                <div class="form-field">
                    <input name="email" type="text" id="contactName" placeholder="Your Email" value="" minlength="2" aria-required="true" class="full-width" required>
                </div>
                <div class="form-field">
                    <input name="password" type="password" id="contactEmail" placeholder="Your Password" value=""  aria-required="true" class="full-width" required>
                </div>
            
                <div class="form-field">
                    <button class="full-width btn--primary">Submit</button>
                    <div class="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

                </fieldset>
            </form>

            <!-- contact-warning -->
            <div class="message-warning">
                Something went wrong. Please try again.
            </div> 
        
            <!-- contact-success -->
            <div class="message-success">
                Your message was sent, thank you!<br>
            </div>

        </div>

    
</body>
</html>